# Adding __pycache__
__pycache__

# Adding checkpoints
.ipynb_checkpoints

# Adding config.py file.
config.py

# DS_Store
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# CSV files
*.csv

# Technology file
technology.md 

# pyc files
*.pyc
